body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    color: #333;
    text-align: center;
    padding: 20px;
}

form {
    max-width: 400px;
    width: 100%; /* Asegura que el formulario no exceda el 100% del contenedor */
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Incluye padding y border en el ancho total del formulario */
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
button {
    width: calc(100% - 22px); /* Asegura que los inputs no excedan el contenedor */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Incluye padding y border en el ancho total del input */
}

button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul li {
    margin: 20px 0; /* Incrementa el espacio entre los elementos de la lista */
}

ul li a {
    text-decoration: none;
    color: white;
    background-color: #007bff;
    padding: 15px 30px; /* Aumenta el padding de los botones */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade una sombra más pronunciada */
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

ul li a:hover {
    background-color: #0056b3;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Aumenta la sombra al pasar el ratón */
}

a.volver {
    display: inline-block;
    margin: 20px 0;
    text-decoration: none;
    color: #007bff;
    padding: 10px 20px;
    border: 2px solid #007bff;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
}

a.volver:hover {
    background-color: #007bff;
    color: white;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background: #007bff;
    color: white;
}

@media (max-width: 600px) {
    form, table {
        width: 100%;
        margin: 10px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

